# ミーティングノート

## 基本情報
- 日時: [YYYY-MM-DD HH:MM]
- 場所: [場所/オンライン]
- 参加者: [参加者リスト]

## アジェンダ
1. [議題1]
2. [議題2]
3. [議題3]

## 議事内容
### [議題1]
- 討議内容
- 決定事項
- 次のアクション

### [議題2]
- 討議内容
- 決定事項
- 次のアクション

## 次回のアクション
- [ ] [アクション1] (@担当者) - 期限: [期限]
- [ ] [アクション2] (@担当者) - 期限: [期限]

## 次回ミーティング
- 日時: [YYYY-MM-DD HH:MM]
- 場所: [場所/オンライン]
- 主な議題:
  1. [議題1]
  2. [議題2] 